<p id="notice"><%= notice %></p>

<p>
  <strong>Statuskehadiran:</strong>
  <%= @statuskehadiranpengunamakmal.statuskehadiran %>
</p>

<p>
  <strong>Statusmasuk:</strong>
  <%= @statuskehadiranpengunamakmal.statusmasuk %>
</p>

<%= link_to 'Edit', edit_statuskehadiranpengunamakmal_path(@statuskehadiranpengunamakmal) %> |
<%= link_to 'Back', statuskehadiranpengunamakmals_path %>
