<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @pengunamakmal.nama %>
</p>

<p>
  <strong>Nombormatrix:</strong>
  <%= @pengunamakmal.nombormatrix %>
</p>

<p>
  <strong>Masamasukprogram:</strong>
  <%= @pengunamakmal.masamasukprogram %>
</p>

<p>
  <strong>Masakeluarprogram:</strong>
  <%= @pengunamakmal.masakeluarprogram %>
</p>

<%= link_to 'Edit', edit_pengunamakmal_path(@pengunamakmal) %> |
<%= link_to 'Back', pengunamakmals_path %>
